.htaccess
/config.php
admin/config.php
index.php
php.ini
robots.txt
.htaccess.txt

download/
image/
images/
install/
system/


system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache